.par-item .par-scr-content-cat0 {
	margin: 0px;
	margin-right: -8px;
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0 0 0 20px;
}


.par-item .cat-link:first-letter {
	font-weight:bold;
}

.par-item .cat-link a:first-letter {
	font-weight:bold;
}
